* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: cyan;
}
header {
	text-align: center;
	font-style: italic;
}
section {
	margin-top: 10px;
}
p {
	font-family: cursive;
}
#img1 {
	display: block;
	margin: auto;
}
