* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: cyan;
}
header {
	height: 40px;
	text-align: center;
	font-style: italic;
	background-color: #25C700;
}
section {
	margin-top: 10px;
}
p {
	font-family: cursive;
}
.boton{
	border-color: red;
	background-color: white;
	border-radius: 3px;
	margin-right: 3px;
	width: 30px;
}
.boton:hover{
	background-color: blue;
}
#img1 {
	display: block;
	margin: auto;
	margin-top: 8px;
}
